<footer>
        <div class="row">
            <div class="container">
                <div class="col-sm-5"> <img src="img/BupaLogo.png" alt=""> </div>
                <div class="col-sm-7">
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="#">Individuals</a></li>
                        <li role="presentation"><a href="#">Business</a></li>
                        <li role="presentation"><a href="#">Intermediaries</a></li>
                        <li role="presentation"><a href="#">Healthcare professionals</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>