   <header>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Individuals</a></li>
                <li role="presentation"><a href="#">Business &nbsp; |</a></li>
                <li role="presentation"><a href="#">Intermediaries &nbsp; |</a></li>
                <li role="presentation"><a href="#">Healthcare professionals</a></li>
                <li role="presentation" class="pull-right">
                    <a href="#"><img src="img/SearchIcon.png" alt=""></a>
                </li>
                <li role="presentation" class="pull-right men"><a href="#">Bupa Member <span class="glyphicon glyphicon-user"></span></a></li>
                <li role="presentation" class="pull-right">
                    <a href="#"><img src="img/phone-icon.png" alt=""></a>
                </li>
                <li role="presentation" class="pull-right">
                    <a href="#"><img src="img/Location-icon.png" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="container nav_head">
            <div class="row">
                <div class="col-sm-6"> <img src="img/Bupa%20Logo.png" alt=""> </div>
                <div class="col-sm-6">

                    <ul class="contact">
                        <li><a href="#"> <img src="img/faq-link.png" alt=""></a></li>
                        <li><a href="#"> <img src="img/live-chat-link.png" alt=""> </a></li>
                        <li><a href="#"> <img src="img/phone-number.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>

        <div class="container">
            <div class="row">
                <h1><b>Bupa health insurance quote</b></h1>
                <h2>Build the right cover for you..</h2>
            </div>
            <div class="row">
                <ul class="navbar">

                    <li><a href="#"> <img src="img/tracker-step1.png" alt=""> </a></li>
                    <li><a href="#"><img src="img/tracker-step2.png" alt=""></a></li>
                    <li><a href="#"><img src="img/tracker-step3.png" alt=""> </a></li>
                    <li><a href="#"><img src="img/tracker-step4.png" alt=""> </a></li>
                </ul>
            </div>
        </div>
    </header>